.App {
  text-align: center;
}

#destinations-container {
  justify-content: center;
  margin: 2% 0;
}

#new-destination-container {
  justify-content: center;
}

#content-container {
  justify-content: flex-end;
}
